{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
Rubrics
{% endblock %}
{% block button %}
<a href="/new_rubric/">
    <button>Create New Rubric</button>
</a>
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/menu_sheet.css') }}">
	</head>
{% endblock %}
{% block content %}
    <style>
        #text {
            width: 500px;
        }

        textarea {
            height: 30px;
            width: 100%;
            transition: all 0.5s ease;
        }

        textarea:focus {
            height: 5em;
        }

        #desc, #category {
            width: 100%;
        }
    </style>
    <body onload='check()'>

        <div id="overlay">
            <div class='container'>
                <div class='header_div'>
                    <div class='header_title'>
                        <p class ="header_white">Create New Rubric</p>
                    </div>
                    <div class='close_button'>
                        <a href='/rubrics/'>
                            <img src="{{ url_for('static', filename='close.png') }}">
                        </a>
                    </div>
                </div>

                <div class='content_div'>
                    <form method='POST'>
                        <div class='div1'>
							<table class = "tableS">
								<tr>
									<th>
										<label for="rubricCode">Rubric Code:</label>
									</th>
									<th class = "no_border">
										<span>
											<input type='text' id='rubricCode' name='rubricCode' value ="{{ current_id }}" disabled><br>
										</span>
									</th>
								</tr>
								<tr>
									<th>
										<label for="rubType">Rubric Type:</label>
									</th>
									<th class = "no_border">
										<span>
											<input onclick="check()" type="radio" id="group" name="rubType" value="Group" checked>
											<label for="group">Group</label>
											<input onclick="check()" type="radio" id="individual" name="rubType" value="Individual">
											<label for="individual">Individual</label>
										</span>
									</th>
								</tr>
								<tr>
									<th colspan = "2">
										<label for="pblLvl">PBL Level:</label>
									</th>
								</tr>
								<tr>
									<th class = "no_border" colspan = "2">
										<span>
											<input type="radio" id="pbl1" name="pblLvl" value="PBL1" checked>
											<label for="pbl1">PBL1</label>
											<input type="radio" id="pbl2" name="pblLvl" value="PBL2">
											<label for="pbl2">PBL2</label>
											<input type="radio" id="pbl3" name="pblLvl" value="PBL3">
											<label for="pbl3">PBL3</label>
											<input type="radio" id="pbl4" name="pblLvl" value="PBL4">
											<label for="pbl4">PBL4</label>
										</span>
									</th>
								</tr>
								<tr>
									<th>
										<label for="category">Category:</label>
									</th>
									<th class = "no_border">
										<span>
											<input class = "dropdown_fill" type='text' id='category' name='category' style='text-align: left;' required >
										</span>
									</th>
								</tr>
								<tr>
									<th colspan = "2">
										<label for="desc">Description:</label>
									</th>
									<tr>
									<th colspan = "2" class = "no_border">
									<span>
										<input class = "min_txt_size" type='text' id='desc' name='desc' style='text-align: left;' required>
									</span>
									</th>
								</tr>
					<!-- TABLE AUTOMATION -->
								{% for x in range(5, 0, -1) %}
									<div class='query'>
										<th colspan = "2">
											<label for='rate{{ x }}'>Rate {{ x }}:</label>
										</th>
										<tr>
										<th class = "no_border" colspan = "2">
											<span> 
												<textarea class = "min_txt_size" id='rate{{ x }}' name='rate{{ x }}' required></textarea>
											</span>
										</th>
										<tr>
									</div>
								{% endfor %}
					<!-- TABLE AUTOMATION -->
								<tr>
									<th>
										<label for="weight">Weight</label>
									</th>
									<th class = "no_border">
										<span>
											<input class = "dropdown_fill" type="number" id="weight" name='weight' autocomplete='off' min='1' max='9' value=1 onkeydown='return false;'>
										</span>
									</th>									
								</tr>
								<tr>
									<th colspan = "2">
										<button class ="but2" type='submit' id='submit' name='submit'>Submit</button>
									</th>
								</tr>
							</table>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>

        <div class='display_grid'>
			{% if rubrics %}
				{% for rubric in rubrics %}
					<div class='div1'>
						<table>
							<th>ID:</th>
							<td colspan = "4">{{ rubric.id }}</td>
							<tr>
							<th>Description:</th>
							<td colspan = "4">{{ rubric.desc }}</td>
							<tr>
							<th class = "sep_20 ">Rate 5:</th> 
							<th class = "sep_20 no_border">Rate 4:</th> 
							<th class = "sep_20 no_border">Rate 3:</th> 
							<th class = "sep_20 no_border">Rate 2:</th> 
							<th class = "sep_20 no_border">Rate 1:</th> 
							<tr>
							<td>{{ rubric.rate5 }}</td>
							<td>{{ rubric.rate4 }}</td>
							<td>{{ rubric.rate3 }}</td>
							<td>{{ rubric.rate2 }}</td>
							<td>{{ rubric.rate1 }}</td>
							<tr>
							<th>Weight:</th>
							<td>x{{ rubric.weight }}</td>
							<th>Rubric Type:</th> 
							<td colspan = "2">{{ rubric.rubric_type }}</td>
							<tr>
							<th>PBL Level:</th>
							<td>{{ rubric.pbl_lvl }}</td>
							<th>Category:</th> 
							<td colspan = "2">{{ rubric.category }}</td>
							<tr>
						</table>
						<table class = "no_border">
							<td class = "no_border sep_20">
							<td class = "no_border sep_20">
							<td class = "no_border sep_20">
							<th class = "no_border sep_10">
								<a href="/edit_rubric/{{ rubric.id }}">
									<button class = "but2">Edit</button>
								</a>
							</th>
							<th class = "no_border sep_10">
								<a href="/delete_rubric/ {{ rubric.id }}">
									<button class = "but2">Delete</button>
								</a>
							</th>
						<table>
						<br>
					</div>
				{% endfor %}
			{% endif %}
		</div>
    

        <script>
            function check() {
                const rbs = document.querySelectorAll('input[name="rubType"]');
                let selectedValue;
                for (const rb of rbs) {
                    if (rb.checked) {
                        selectedValue = rb.value;
                        break;
                    }
                }

                if (selectedValue == 'Individual') {
                    document.getElementById('category').disabled = true;
                    document.getElementById('pbl1').disabled = true;
                    document.getElementById('pbl2').disabled = true;
                    document.getElementById('pbl3').disabled = true;
                    document.getElementById('pbl4').disabled = true;
                } else {
                    document.getElementById('category').disabled = false;
                    document.getElementById('pbl1').disabled = false;
                    document.getElementById('pbl2').disabled = false;
                    document.getElementById('pbl3').disabled = false;
                    document.getElementById('pbl4').disabled = false;
                }
            }
            
        </script>
    </body>
{% endblock %}