{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
    Rubrics
{% endblock %}
{% block button %}
<a href="/new_rubric/">
    <button>Create New Rubric</button>
</a>
{% endblock %}
{% block content %}
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/indiv_sheet.css') }}">
	</head>
    <div class='display_grid'>
        {% if rubrics %}
            {% for rubric in rubrics %}
                <div class='div1'>
					<table>
						<th class = "tb_desc">ID:</th>
						<td colspan = "3">{{ rubric.id }}</td>
						<tr>
						<th class = "tb_desc">Description:</th>
						<td colspan = "3">{{ rubric.desc }}</td>
						<tr>
						<th>Rate 5:</th> 
						<td colspan = "3">{{ rubric.rate5 }}</td>
						<tr>
						<th>Rate 4:</th> 
						<td colspan = "3">{{ rubric.rate4 }}</td>
						<tr>
						<th>Rate 3:</th> 
						<td colspan = "3">{{ rubric.rate3 }}</td>
						<tr>
						<th>Rate 2:</th> 
						<td colspan = "3">{{ rubric.rate2 }}</td>
						<tr>
						<th>Rate 1:</th> 
						<td colspan = "3">{{ rubric.rate1 }}</td>
						<tr>
						<th>Weight:</th>
						<td>x{{ rubric.weight }}</td>
						<th class = "tb_desc">Rubric Type:</th> 
						<td>{{ rubric.rubric_type }}</td>
						<tr>
						<th>PBL Level:</th>
						<td>{{ rubric.pbl_lvl }}</td>
						<th>Category:</th> 
						<td>{{ rubric.category }}</td>
						<tr>
					</table>
					<table>
						<th colspan = "2">
							<a href="/edit_rubric/{{ rubric.id }}">
								<button class = "but2">Edit</button>
							</a>
						</th>
						<th colspan = "2">
							<a href="/delete_rubric/ {{ rubric.id }}">
								<button class = "but2">Delete</button>
							</a>
						</th>
					<table>
					<br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}