{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
    Rubrics
{% endblock %}
{% block button %}
<a href="/new_rubric/">
    <button>Create New Rubric</button>
</a>
{% endblock %}
{% block content %}
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/menu_sheet.css') }}">
	</head>
    <div class='display_grid'>
        {% if rubrics %}
            {% for rubric in rubrics %}
                <div class='div1'>
					<table>
						<th>ID:</th>
						<td colspan = "4">{{ rubric.id }}</td>
						<tr>
						<th>Description:</th>
						<td colspan = "4">{{ rubric.desc }}</td>
						<tr>
						<th class = "sep_20 ">Rate 5:</th> 
						<th class = "sep_20 no_border">Rate 4:</th> 
						<th class = "sep_20 no_border">Rate 3:</th> 
						<th class = "sep_20 no_border">Rate 2:</th> 
						<th class = "sep_20 no_border">Rate 1:</th> 
						<tr>
						<td>{{ rubric.rate5 }}</td>
						<td>{{ rubric.rate4 }}</td>
						<td>{{ rubric.rate3 }}</td>
						<td>{{ rubric.rate2 }}</td>
						<td>{{ rubric.rate1 }}</td>
						<tr>
						<th>Weight:</th>
						<td>x{{ rubric.weight }}</td>
						<th>Rubric Type:</th> 
						<td colspan = "2">{{ rubric.rubric_type }}</td>
						<tr>
						<th>PBL Level:</th>
						<td>{{ rubric.pbl_lvl }}</td>
						<th>Category:</th> 
						<td colspan = "2">{{ rubric.category }}</td>
						<tr>
					</table>
					<table class = "no_border">
						<td class = "no_border sep_20">
						<td class = "no_border sep_20">
						<td class = "no_border sep_20">
						<th class = "no_border sep_10">
							<a href="/edit_rubric/{{ rubric.id }}">
								<button class = "but2">Edit</button>
							</a>
						</th>
						<th class = "no_border sep_10">
							<a href="/delete_rubric/ {{ rubric.id }}">
								<button class = "but2">Delete</button>
							</a>
						</th>
					<table>
					<br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}