{% extends "groups/groups.html" %}

{% block overlay %}
    <div id="overlay">
        <div class='container'>
            <div class='header_div'>
                <div class='header_title'>
                    <p class = "header_white">Edit Group</p>
                </div>
                <div class='close_button'>
                    <a href='/groups/'>
                        <img src="{{ url_for('static', filename='close.png') }}">
                    </a>
                </div>
            </div>

            <div class='content_div'>
                <form method='POST'>
                    <div class='form_div'>
						<table class = "tableS">
							<tr>
								<th>
									<label for="groupCode">Group Code:</label>
								</th>
								<th class ="no_border">
									<span>
										<input type='text' id='groupCode' name='groupCode' value ="{{ to_edit.id }}" disabled><br>
									</span>
								</th>
							</tr>
							<tr>
								<th>
									<label for="groupName">Group Name:</label>
								</th>
								<th class = "no_border">
									<span>
										<input type='text' id='groupName' name='groupName' value='{{ to_edit.name }}'>
									</span>
								</th>
							</tr>	
							<tr>
								<th>
									<label for="projectTitle">Project Title:</label>
								</th>
								<th class = "no_border">
									<span>
										<textarea class="min_txt_size" id='projectTitle' name='projectTitle' required>{{ to_edit.project_title }}</textarea>
									</span>
								</th>
							</tr>				
							<tr>
								<th>
									<label for="program">Program:</label>
								</th>
								<th class = "no_border">
									<span>
										<select name="program" id='program'>
											<option value='BSIT-AGD' {% if to_edit.program == 'BSIT-AGD' %}selected {% endif %}>BSIT-AGD</option>
											<option value='BSIT-DA' {% if to_edit.program == 'BSIT-DA' %}selected {% endif %}>BSIT-DA</option>
											<option value='BSIT-SMBA' {% if to_edit.program == 'BSIT-SMBA' %}selected {% endif %}>BSIT-SMBA</option>
											<option value='BSIT-WMA' {% if to_edit.program == 'BSIT-WMA' %}selected {% endif %}>BSIT-WMA</option>
											<option value='BSCS' {% if to_edit.program == 'BSCS' %}selected {% endif %}>BSCS</option>
											<option value='BMA' {% if to_edit.program == 'BMA' %}selected {% endif %}>BMA</option>
										</select>
									</span>
								</th>
							</tr>	
							<tr>
								<th>
									<label for="program">Mentor:</label>
								</th>
								<th class = "no_border">
									<span>
										<select name="mentor" id='mentor'>
											{% for mentor in mentors %}
												<option value='{{ mentor.id }}' {% if to_edit.mentor_id == mentor.id %}selected {% endif %}>{{ mentor.last_name}}, {{ mentor.first_name }}</option>
											{% endfor %}
										</select>
									</span>
								</th>
							</tr>
							<tr>
								<th colspan = "2" class = "no_border">
									<button id='submit' name='submit'>Submit</button>
								</th>
							</tr>
						</table>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}