<html>
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/group_sheet.css') }}">
	</head>
	<body>
		<div class="parent">
			<div class="div1"> 
				<h1>FEU ALABANG</h1>
			</div>
			<div class="div2"> 
				<title_font1>ORAL DEFENSE</title_font1>
				<title_font1><br>GROUP GRADE SHEET</title_font1>
			</div>
			<div class="div3 one_rad_sd"> 
				<details_font>GROUP NAME:</details_font>
			</div>
			<div class="div4 two_rad_sd"> 
				<details_font>G R O U P D E T A I L S</details_font>
			</div>
			<div class="div5"> 
				<details_font>PROJECT TITLE:</details_font>
			</div>
			<div class="div6"> 
				<details_font>P R O J E C T D E T A I L S</details_font>
			</div>
			<div class="div7 four_rad_sd"> 
				<details_font>ORAL DEFENSE:</details_font><br>
				<details_font>SCHEDULE:</details_font>
			</div>
			<div class="div8"> 
				<details_font>DATE:</details_font>
			</div>
			<div class="div9"> 
				<details_font>TIME:</details_font> 
			</div>
			<div class="div10"> 
			<details_font>ROOMS:</details_font> 
			</div>
			<div class="div11"> 
				DATE DETAILS 
			</div>
			<div class="div12"> 
				TIME DETAILS
			</div>
			<div class="div13 three_rad_sd"> 
				ROOM DETAILS
			</div>
			<div class="div14 empty_spc"> 
				<prop_font1> This is an easter egg </prop_font>
			</div>
			<div class="div15 green_bg empty_spc"> 
				<prop_font1> DOCUMENTATION(50 POINTS) </prop_font1>
			</div>
			<div class="div16 yellow_bg empty_spc">
				<prop_font1> CHAPTER 1: INTRODUCTION </prop_font1>
			</div>
			<div class="div17 green_bg"> 
				CRITERIA AND WEIGHT
			</div>
			<div class="div18 green_bg"> 
				5
			</div>
			<div class="div19 green_bg"> 
				4
			</div>
			<div class="div20 green_bg"> 
				3
			</div>
			<div class="div21 green_bg"> 
				2
			</div>
			<div class="div22 green_bg"> 
				1
			</div>
			<div class="div23 yellow_bg"> 
				SCORE
			</div>
			<div class="div24 green_bg one_rad_sd"> 
				VERY ACCEPTABLE
			</div>
			<div class="div25 green_bg"> 
				ACCEPTABLE
			</div>
			<div class="div26 green_bg"> 
				FAIR
			</div>
			<div class="div27 green_bg"> 
				NEEDS IMPROVEMENT
			</div>
			<div class="div28 green_bg two_rad_sd"> 
				POOR
			</div>
			<div class="div29 green_bg"> 
				BACKGROUND AND RATIONALE OF THE STUDY(1) 
			</div>
			<div class="div30"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div31"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div32"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div33"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div34"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div35 yellow_bg"> 
				  <select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				  </select>
			</div>
			<div class="div36 green_bg"> 
				PROJECT OVERVIEW (X1)
			</div>
			<div class="div37"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div38"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div39"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div40"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div41">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div42 yellow_bg"> 
				  <select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				  </select>
			</div>
			<div class="div43 yellow_bg empty_spc"> 
				<prop_font1> CHAPTER 2: RELATED LITERATURE </prop_font1>					
			</div>
			<div class="div44 green_bg"> 
				RELATIVENESS OF THE LITERATURE(X1)
			</div>
			<div class="div45"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div46"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div47"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div48"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div49"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div50 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>
			</div>
			<div class="div51 green_bg"> 
				SYNTHESIS(X1)
			</div>
			<div class="div52"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div53"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div54"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div55"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div56"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div57 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>
			</div>
			<div class="div58 yellow_bg empty_spc"> 
				<prop_font1> CHAPTER 3: METHODOLOGY </prop_font1>	
			</div>
			<div class="div59 green_bg"> 
				FEASIBILITY(X2)
			</div>
			<div class="div60"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div61">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div62">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div63">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div64">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div65 yellow_bg">
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>
			</div>
			<div class="div66 green_bg"> 
				PROJECT DEVELOPMENT MODEL(X1)
			</div>
			<div class="div67"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div68"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div69"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div70"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div71"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div72 yellow_bg">
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>
				</div>
			<div class="div73 green_bg"> 
				TECHNICALITY(X1)
			</div>
			<div class="div74"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div75"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div76"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div77"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div78 "> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div79 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>				
			</div>
			<div class="div80 green_bg">
				PROJECT DESIGN
			</div>
			<div class="div81"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div82"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div83"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div84"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div85">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div86 yellow_bg">
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>	
			</div>
			<div class="div87 yellow_bg empty_spc"> 
				<prop_font1>OTHERS</prop_font1>
			</div>
			<div class="div88 green_bg four_rad_sd"> 
				FORMATTING AND SUPPORTING DOCUMENTS(X1)
			</div>
			<div class="div89"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div90"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div91"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div92">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div93">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div94 yellow_bg">
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>	
			</div>
			<div class="div95 green_bg empty_spc four_rad_sd"> 
				TOTAL: 
			</div>
			<div class="div96 yellow_bg empty_spc three_rad_sd"> 
				BLANK 
			</div>
			<div class="div97 empty_spc"> 
			<prop_font1> told you it's an easter egg </prop_font> 
			</div>
			<div class="div98 empty_spc green_bg"> 
				<prop_font1> DESIGN (20 POINTS) </prop_font1>	
			</div>
			<div class="div99 green_bg"> 
				CRITERIA AND WEIGHT
			</div>
			<div class="div100 green_bg"> 5 <br> VERY ACCEPTABLE </div>
			<div class="div101 green_bg"> 4 <br> ACCEPTABLE </div>
			<div class="div102 green_bg"> 3 <br> FAIR </div>
			<div class="div103 green_bg"> 2 <br> NEEDS IMPROVEMENT </div>
			<div class="div104 green_bg"> 1 <br> POOR </div>
			<div class="div105 yellow_bg"> SCORE </div>
			<div class="div106 green_bg"> 
				PRESENTATION OF PROPOSAL MATERIALS(X2)
			</div>
			<div class="div107"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div108"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div109"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div110"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div111"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div112 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>			
			</div>
			<div class="div113 green_bg four_rad_sd"> 
				PRECISION AND ACCURACY OF DESIGN(X2)
			</div>
			<div class="div114"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div115"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div116"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div117">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div118"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div119 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>			
			</div>
			<div class="div120 green_bg empty_spc four_rad_sd"> 
				TOTAL:
			</div>
			<div class="div121 yellow_bg empty_spc three_rad_sd"> 
				BLANK
			</div>
			<div class="div122 empty_spc"> 
				<prop_font1> yet another one easter egg </prop_font> 
			</div>
			<div class="div123 green_bg empty_spc"> 
				<prop_font1> PRESENTATION(30 POINTS) </prop_font1>
			</div>
			<div class="div124 green_bg"> 
				CRITERIA AND WEIGHT
			</div>
			<div class="div125 green_bg"> 
				5 <BR> VERY ACCEPTABLE
			</div>
			<div class="div126 green_bg"> 
				4 <BR> ACCEPTABLE
			</div>
			<div class="div127 green_bg"> 
				3 <BR> FAIR
			</div>
			<div class="div128 green_bg"> 
				2 <BR> NEEDS IMPROVEMENT
			</div>
			<div class="div129 green_bg">
				1 <BR> POOR
			</div>
			<div class="div130 yellow_bg"> 
				SCORE
			</div>
			<div class="div131 green_bg"> 
				CONSISTENCY WITH THE DOCUMENTATION(X3)
			</div>
			<div class="div132"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div133"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div134"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div135"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div136"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div137 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>	
			</div>
			<div class="div138 green_bg four_rad_sd"> 
				FLOW AND GROUP DYNAMICS(X3)
			</div>
			<div class="div139">
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div140"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div141"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div142"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div143"> 
				YOU AREN'T SUPPOSED TO SEE THIS
			</div>
			<div class="div144 yellow_bg"> 
				<select name="score" id="score">
					<option value="five">5</option>
					<option value="four">4</option>
					<option value="three">3</option>
					<option value="two">2</option>
					<option value="One">1</option>
				</select>				
			</div>
			<div class="div145 green_bg empty_spc four_rad_sd"> 
				TOTAL:	
			</div>
			<div class="div146 yellow_bg empty_spc three_rad_sd"> 
				BLANK
			</div>
			<div class="div147 empty_spc"> 
				<prop_font1> there's too much of this easter egg </prop_font> 
			</div>
			<div class="div148 green_bg empty_spc one_rad_sd"> 
				DOCUMENTATION(50 POINTS)
			</div>
			<div class="div149 green_bg empty_spc"> 
				DESIGN(20 POINTS)
			</div>
			<div class="div150 green_bg empty_spc"> 
				PRESENTATION(30 POINTS)
			</div>
			<div class="div151 green_bg empty_spc two_rad_sd"> 
				OVERALL
			</div>
			<div class="div152 four_rad_sd"> 
				BLANK
			</div>
			<div class="div153"> 
				BLANK
			</div>
			<div class="div154"> 
				BLANK
			</div>
			<div class="div155 three_rad_sd"> 
				BLANK
			</div>
			<div class="div156"> 
				<button class="but" type="button" id="button_inp" name="button_inp">
					SUBMIT
				</button>
			</div>
			
		</div>
	</body>
</html>