<html>
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/indiv_sheet.css') }}">
		
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
	</head>
	<style>
		.temp_id {
			padding-right: 10px;
		}

	</style>
	<body>

		{% set x = 0 %}
		<form method='POST'>
			<div class="parent">

				<div class="div23 empty_spc">
					<form method='POST'>
						<button type='submit' class="back_but" id="button_inp" name="button_inp" value='back'>BACK</button>
					</form>
					</a>
				</div>
				<div class="div23two empty_spc right_align"> 
					<p class='temp_id'>Template ID: {{ current_id }}</p>
				</div>
				<div class="div1"> 
					<h1>FEU ALABANG</h1>
				</div>
				<div class="div2 green_bg"> 
					<title_font1>ORAL DEFENSE</title_font1>
					<title_font1><br>INDIVIDUAL GRADE SHEET</title_font1>
				</div>
				<div class="div3"> 
					<details_font>GROUP NAME:</details_font>
				</div>
				<div class="div4"> 
					<details_font>G R O U P D E T A I L S</details_font>
				</div>
				<div class="div5"> 
					<details_font>PROJECT TITLE:</details_font>
				</div>
				<div class="div6"> 
					<details_font>P R O J E C T D E T A I L S</details_font>
				</div>
				<div class="div7"> 
					<details_font>ORAL DEFENSE:</details_font><br>
					<details_font>SCHEDULE:</details_font>
				</div>
				<div class="div8"> 
					<details_font>DATE:</details_font>
				</div>
				<div class="div9"> 
					<details_font>TIME:</details_font> 
				</div>
				<div class="div10"> 
				<details_font>ROOMS:</details_font> 
				</div>
				<div class="div11"> 
					DATE DETAILS 
				</div>
				<div class="div12"> 
					TIME DETAILS
				</div>
				<div class="div13"> 
					ROOM DETAILS
				</div>
				<div class="div14 green_bg empty_spc"> 
					<prop_font1> PROPONENT NAME (LN, FN MI.) </prop_font1>
				</div>
				<div class="div15"> 
					<details_font> PROPONENT 1: </details_font>
				</div>
				<div class="div16"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div17"> 
					<details_font> PROPONENT 2: </details_font>
				</div>
				<div class="div18"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div19"> 
					<details_font> PROPONENT 3: </details_font>
				</div>
				<div class="div20"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div21"> 
					<details_font> PROPONENT 4: </details_font>
				</div>
				<div class="div22"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class = "div36">
					<table>
						<th rowspan="2" class = "one_rad_sd">CRITERIA AND WEIGHT</th>
						<th>5</th>
						<th>4</th>
						<th>3</th>
						<th>2</th>
						<th>1</th>
						<th colspan="4" rowspan="2" class="yellow_bg two_rad_sd">STUDENT <br> INDIVIDUAL <br> GRADE</th>
						<tr>
							<th>VERY ACCEPTABLE</th>
							<th>ACCEPTABLE</th>
							<th>FAIR</th>
							<th>NEEDS IMPROVEMENT</th>
							<th>POOR</th>
						</tr>
						{% for rubric in rubrics %}
							<tr>
								<td class = "tb_title">
									{{ rubric.desc }}
									<br>
									(x{{ rubric.weight }})
								</td>
								<td class = "tb_desc">
									{{ rubric.rate5 }}
								</td>
								<td class = "tb_desc">
									{{ rubric.rate4 }}
								</td>
								<td class = "tb_desc">
									{{ rubric.rate3 }}
								</td>
								<td class = "tb_desc">
									{{ rubric.rate2 }}
								</td>
								<td class = "tb_desc">
									{{ rubric.rate1 }}
								</td>
								{% for x in range(1, 5) %}
									<td>
										{{ x }} <br> <br>
										<select name="score" id="score">
											<option value="five">5</option>
											<option value="four">4</option>
											<option value="three">3</option>
											<option value="two">2</option>
											<option value="One">1</option>
										</select>
									</td>
								{% endfor %}
							
							</tr>
						{% endfor %}	
					</table>
					<table>
						<td class = "tb_title">&nbsp;</td>
						{% for _ in range(4) %}
							<td class = "tb_desc">&nbsp;</td>
						{% endfor %}						
						<td class="tb_desc four_rad_sd green_bg empty_spc">TOTAL</td>
						{% for _ in range(3) %}
							<td class="yellow_bg empty_spc">0</td>
						{% endfor %}						
						<td class="three_rad_sd yellow_bg empty_spc">0</td>
						</table>
				</div>
				<div class="div116 drkr_grn"> 
					<form method='POST'>
						<button type="submit" class="but" id="button_inp" name="button_inp">SUBMIT</button>
					</form>		
				</div>
			</div>
		</form>
		<script>
			$(document).ready(function(){
				$('select').on('change', function(event ) {
					var prevValue = $(this).data('previous');
				$('select').not(this).find('option[value="'+prevValue+'"]').show();    
					var value = $(this).val();
				$(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
				});
			});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>


</html>