<html>
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/indiv_sheet.css') }}">
		
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% set x = 0 %}
		<form method='POST'>
			<div class="parent">
				<div class="div23 empty_spc"> 
					<form method='POST'>
						<button type="submit" class="back_but" id="button_inp" name="button_inp">BACK</button>
					</form>
				</div>
				<div class="div23two empty_spc right_align"> 
					Template ID: blank
				</div>
				<div class="div1"> 
					<p style="text-align: left; padding-left: 10px;">{{ current_id }}</p>
					<h1>FEU ALABANG</h1>
				</div>
				<div class="div2 green_bg"> 
					<title_font1>ORAL DEFENSE</title_font1>
					<title_font1><br>INDIVIDUAL GRADE SHEET</title_font1>
				</div>
				<div class="div3"> 
					<details_font>GROUP NAME:</details_font>
				</div>
				<div class="div4"> 
					<details_font>G R O U P D E T A I L S</details_font>
				</div>
				<div class="div5"> 
					<details_font>PROJECT TITLE:</details_font>
				</div>
				<div class="div6"> 
					<details_font>P R O J E C T D E T A I L S</details_font>
				</div>
				<div class="div7"> 
					<details_font>ORAL DEFENSE:</details_font><br>
					<details_font>SCHEDULE:</details_font>
				</div>
				<div class="div8"> 
					<details_font>DATE:</details_font>
				</div>
				<div class="div9"> 
					<details_font>TIME:</details_font> 
				</div>
				<div class="div10"> 
				<details_font>ROOMS:</details_font> 
				</div>
				<div class="div11"> 
					DATE DETAILS 
				</div>
				<div class="div12"> 
					TIME DETAILS
				</div>
				<div class="div13"> 
					ROOM DETAILS
				</div>
				<div class="div14 green_bg empty_spc"> 
					<prop_font1> PROPONENT NAME (LN, FN MI.) </prop_font1>
				</div>
				<div class="div15"> 
					<details_font> PROPONENT 1: </details_font>
				</div>
				<div class="div16"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div17"> 
					<details_font> PROPONENT 2: </details_font>
				</div>
				<div class="div18"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div19"> 
					<details_font> PROPONENT 3: </details_font>
				</div>
				<div class="div20"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div21"> 
					<details_font> PROPONENT 4: </details_font>
				</div>
				<div class="div22"> 
					P R O P O N E N T D E T A I L S
				</div>
				<div class="div24 green_bg empty_spc"> 
					<com_font>CRITERIA <br> AND <br> WEIGHT</com_font>
				</div>
				<div class="div25 green_bg empty_spc"> 
					5
				</div>
				<div class="div26 green_bg empty_spc"> 
					4
				</div>
				<div class="div27 green_bg empty_spc"> 
					3
				</div>
				<div class="div28 green_bg empty_spc"> 
					2
				</div>
				<div class="div29 green_bg empty_spc"> 
					1
				</div>
				<div class="div30 green_bg"> 
					VERY <br> ACCEPTABLE 
				</div>
				<div class="div31 green_bg"> 
					ACCEPTABLE
				</div>
				<div class="div32 green_bg">
					FAIR 
				</div>
				<div class="div33 green_bg">
					NEEDS <br> IMPROVEMENT
				</div>
				<div class="div34 green_bg"> 
					POOR 
				</div>
				<div class="div35 yellow_bg empty_spc"> 
					STUDENT'S <br> INDIVIDUAL <br> GRADE
				</div>
				<div class = "div36">
					<table>
						<td class = "tb_title">
							{{ rubrics[x].desc }}
							<br>
							(x{{ rubrics[x].weight }})
						</td>
						<td class = "tb_desc">
							{{ rubrics[x].rate5 }}
						</td>
						<td class = "tb_desc">
							{{ rubrics[x].rate4 }}
						</td>
						<td class = "tb_desc">
							{{ rubrics[x].rate3 }}
						</td>
						<td class = "tb_desc">
							{{ rubrics[x].rate2 }}
						</td>
						<td class = "tb_desc">
							{{ rubrics[x].rate1 }}
						</td>
						<td>
							1 <br> <br>
							<select name="score" id="score">
								<option value="five">5</option>
								<option value="four">4</option>
								<option value="three">3</option>
								<option value="two">2</option>
								<option value="One">1</option>
							</select>
						</td>
						<td>
							2 <br> <br>
							<select name="score" id="score">
								<option value="five">5</option>
								<option value="four">4</option>
								<option value="three">3</option>
								<option value="two">2</option>
								<option value="One">1</option>
							</select>
						</td>
						<td>
							3 <br> <br>
							<select name="score" id="score">
								<option value="five">5</option>
								<option value="four">4</option>
								<option value="three">3</option>
								<option value="two">2</option>
								<option value="One">1</option>
							</select>
						</td>
						<td>
							4 <br> <br>
							<select name="score" id="score">
								<option value="five">5</option>
								<option value="four">4</option>
								<option value="three">3</option>
								<option value="two">2</option>
								<option value="One">1</option>
							</select>
						</td>
					</table>
				</div>
				<div class="div106 empty_spc"> 			
				</div>
				<div class="div107 empty_spc"> 
				</div>
				<div class="div108 empty_spc"> 
				</div>
				<div class="div109 empty_spc"> 
				</div>
				<div class="div110 empty_spc"> 
				</div>
				<div class="div111 green_bg empty_spc"> 
					TOTAL:
				</div>
				<div class="div112 yellow_bg empty_spc"> 
					0
				</div>
				<div class="div113 yellow_bg empty_spc"> 
					0
				</div>
				<div class="div114 yellow_bg empty_spc"> 
					0
				</div>
				<div class="div115 yellow_bg empty_spc"> 
					0
				</div>
				<div class="div116 drkr_grn"> 
					<form method='POST'>
						<button type="submit" class="but" id="button_inp" name="button_inp">SUBMIT</button>
					</form>		
				</div>
			</div>
		</form>
	

	<script>
        $(document).ready(function(){
            $('select').on('change', function(event ) {
                var prevValue = $(this).data('previous');
            $('select').not(this).find('option[value="'+prevValue+'"]').show();    
                var value = $(this).val();
            $(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
            });
        });

		
    </script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>

	


</html>