body {
  background-color: gray;
  
}
h1 {
  color: green;
  font-size: 40px;
}


title_font1 {
  color: white;
  font-size: 28px;
  display: inline; 
  font-weight: bold;
}

table{
	width: 100%;
	border: 1px solid green;
}

.two{
	width: 31.5%;
	float: right;
}

tr:nth-child(even) {
	background-color: #FAFAD2;
}
tr:nth-child(odd) {
	background-color: #FFFF99;
}
	
th{
	background: green;
	color: white;
	padding: 10px;
}

td{
	padding: 5px;
}

.tb_title{
	width: 9%;
}

.tb_desc{
	width: 15%;
}

.tb_jatot{
	width: 48%;
}

.sep_fifty{
	width: 25%;
}

.but{
	float: right;
	width: 31.5%;
	height: 50px;
}

.but2 {
	border-radius: 0px;
	width: 100%;
	height: 100%;
}

.green_bg{
	background-color: green;
	text-align: center;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.yellow_bg{
	background-color: gold;
	text-align: center;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.lyellow_bg{
	background-color: #FAFAD2;
}

.parent {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 5px;
	height: fit-content;
	max-width: px 1300vh;
	width: 1300px;
	border-style: solid;
	border-color: white;
	border-width:1px 1px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
	border-radius: 30px;
	border-radius: 10px;
	background: white;
	margin: 10px auto;
	text-align: center;
}

.parent > div {
  
}

.text{
  resize: none;
  outline: none;
  width: 100%;
  border: none;
  height: 400px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.div1 { grid-area: 2 / 1 /  auto / 21; 
	border-width: 0px 0px;	
}
.div2 { grid-area: 3 / 1 /  auto / 21;
	padding-top: 10px;
	padding-bottom: 10px;  
	border-width: 0px;
}
.div3 { grid-area: 4 / 1 /  auto / 21;
}

.div4 { grid-area: 8 / 1 /  auto / 21; 
	}
.div5 { grid-area: 13 / 1 / auto / 21;
}
.div6 { grid-area: 14 / 1 / auto / 21; 
}