{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
Gradesheets
{% endblock %}
{% block button %}
<a href="">
    <button>Create New Template</button>
</a>
{% endblock %}
{% block content %}
<style>
    .container {
        height: fit-content;
    }
</style>
<body onload='check()'>
    {% if back_rub != "" and data == None %}
        {% set data = back_rub %}
    {% endif %}
    <div id="overlay">
        <div class='container'>
            <div class='header_div'>
                <div class='header_title'>
                    <p class = "header_white">Create New Template</p>
                </div>
                <div class='close_button'>
                    <a href='/gradesheets/'>
                        <img src="{{ url_for('static', filename='close.png') }}">
                    </a>
                </div>
            </div>

            <div class='content_div'>
                <form method='POST'>
                    <div class='form_div'>
						<table class = "tableS">
							<th  colspan = "2"> 
								<div class='query'>
									<label for="sheetCode">Gradesheet Code:</label>
									<span>
										<input type='text' id='sheetCode' name='sheetCode' value ="{{ current_id }}" disabled>
									</span>
								</div>
							</th>
							<tr>
							<th>
								<label for="rubType" class ="tb_desc">Rubric Type:</label>
							</th>
							<th class = "no_border">
								<span>
									<input onchange="sheet_type(); check()" type="radio" id="group" name="rubType" value="Group" required>
									<label for="group">Group</label>
									<input onchange="sheet_type(); check()" type="radio" id="individual" name="rubType" value="Individual">
									<label for="individual">Individual</label>
								</span>
							</th>
							<tr>
							<th>
								<label for="pblLvl" class = "tb_desc">PBL Level:</label>
							</th>
							<th class = "no_border">
								<span>
									<input onchange='pbl_level();' type="radio" id="pbl1" name="pblLvl" value="PBL1" required>
									<label for="pbl1">PBL1</label>
									<input onchange='pbl_level(); 'type="radio" id="pbl2" name="pblLvl" value="PBL2">
									<label for="pbl2">PBL2</label>
									<input onchange='pbl_level();' type="radio" id="pbl3" name="pblLvl" value="PBL3">
									<label for="pbl3">PBL3</label>
									<input onchange='pbl_level(); 'type="radio" id="pbl4" name="pblLvl" value="PBL4">
									<label for="pbl4">PBL4</label>
								</span>
							</th>
							<tr>
							<th colspan = "2">
								<label>Select Rubric(s) Below</label>
							</th>
							<tr>
							<th colspan = "2" class ="no_border">
                                <p style='font-size:13'>Ctrl + Click to select multiples</p>
								<select class = "dropdown_fill center_text" id="rubrics" name='rubrics' multiple required disabled>
									{% for rubric in rubrics %}
										{% if rubric.rubric_type == data %}
											{% set x = rubric.id|string %}
											<option class = "small_bottom_margin" value="{{ rubric.id }}" {% if x in back_arr %} selected {% endif %}>{{ rubric.desc }} (x{{ rubric.weight }})</option>
										{% elif rubric.pbl_lvl == data %}
											{% set x = rubric.id|string %}
											<option class = "small_bottom_margin" value="{{ rubric.id }}" {% if x in back_arr %} selected {% endif %}>{{ rubric.desc }} (x{{ rubric.weight }})</option>
										{% endif %}
									{% endfor %}
								</select>
                                <br>
							</th>
							<tr>
							<th colspan = "2">
								<button class = "but2" type='submit' id='submit' name='submit'>Submit</button>
							</th>
						</table>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <div class='display_grid'>
        {% if templates %}
            {% for template in templates %}
                <div class='div1'>
					<table>
						<tr>
							<th class = "tb_desc">ID:</th> 
							<td  colspan = "2">{{ template.id }}</td>
						</tr>
						<tr>
							<th>Gradesheet Type:</th> 
							<td colspan = "2">{{ template.sheet_type }}</td>
						</tr>
						<tr>
						<th colspan = "3">Rubrics:</th>
						</tr>
						<ul>
							{% for rubric in template.rubric %}
								<tr>
									<td colspan = "3">{{ rubric.desc }}</td>
								</tr>
							{% endfor %}
						</ul>
					</table>
					<table class = "no_border">
						<td class = "no_border sep_20">
						<td class = "no_border sep_20">
						<th class = "no_border">
							<a href="/view_sheet/{{ template.id }}">
								<button class = "but2">View</button>
							</a>
						</th>
						<th class = "no_border">
							<a href="/edit_sheet/{{ template.id }}">
								<button class = "but2">Edit</button>
							</a>
						</th>
						<th class = "no_border">
							<a href="/delete_sheet/{{ template.id }}">
								<button class = "but2">Delete</button>
							</a>
						</th>
					</table>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        console.log(' {{ back_rub }}')
        console.log(' {{ back_pbl }}')
        function putHere() {
            document.getElementById('invis').value = arr;
        }

        function sheet_type() {
            selected_value = $("input[name='rubType']:checked").val();
            var clock = {
                "key": selected_value //say
            };
            $.ajax({
                url: '/parse_data/',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(clock),
                contentType:"application/json; charset=UTF-8"
            })
            .done(function(data) {
                window.location.href = "/new_sheet/" + data['key'];
            })
        }

        function pbl_level() {
            selected_value = $("input[name='pblLvl']:checked").val();
            var clock = {
                "key": selected_value
            };
            $.ajax({
                url: '/parse_data/',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(clock),
                contentType:"application/json; charset=UTF-8"
            })
            .done(function(data) {
                window.location.href = "/new_sheet/" + data['key'];
            })
        }


        function check() {
            var temp = 'empty' 
            if ('{{ back_rub }}' != 'None' && '{{ data }}' != 'None') {
                temp = '{{ data }}'
            } else if ('{{ back_rub }}' == 'None') {
                temp = '{{ data }}'
            } else {
                temp = '{{ back_rub }}'
            }

            console.log('TEMP ' + temp)

            if (temp == 'Individual') {
                document.getElementById('individual').checked = true;
                document.getElementById('rubrics').disabled = false;
                document.getElementById('pbl1').disabled = true;
                document.getElementById('pbl2').disabled = true;
                document.getElementById('pbl3').disabled = true;
                document.getElementById('pbl4').disabled = true;
                '{% set data = "Individual" %}'
            } else {
                document.getElementById('group').checked = true;
                if (temp == 'PBL1') {
                    document.getElementById('pbl1').checked = true;
                    document.getElementById('rubrics').disabled = false;
                } else if (temp == 'PBL2') {
                    document.getElementById('pbl2').checked = true;
                    document.getElementById('rubrics').disabled = false;
                } else if (temp == 'PBL3') {
                    document.getElementById('pbl3').checked = true;
                    document.getElementById('rubrics').disabled = false;
                } else if (temp == 'PBL4') {
                    document.getElementById('pbl4').checked = true;
                    document.getElementById('rubrics').disabled = false;
                }
            }
        }
    </script>
</body>
    
{% endblock %}