{% extends 'base_user.html' %}
{% block title %}Home Page{% endblock %}
{% block functions %}
{% endblock %}

{% block content %}
    <div class='display_grid'>
        {% if groups %}
            {% for group in groups %}
                <div class='box'
                    <p>ID: {{group.id}}</p>
                    <p>Group Name: {{group.name}}</p>
                    <p>Project Title: {{ group.project_title }}</p>
                    <p>Program: {{group.program}}</p>
                    <p>Members:</p>
                    {% for member in group.members %}
                        <p>{{ member.stud_no }} - {{ member.last_name }}, {{ member.first_name }} {{ member.middle_in }}.</p>
                    {% endfor%}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


