{% extends "base_user.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class='display_grid'>
        {% for defense in user.defenses %}
            <div class='box'>
                <p>{{ defense.id }}</p>
                <p>{{ defense.group.name }}</p>
                <p>{{ defense.group.project_title }}</p>
                <p>{{ defense.start_date }} - {{ defense.end_date }}</p>
                <p>Members:</p>
                {% for member in defense.group.members %}
                    <p>{{ member.last_name }}, {{ member.first_name }} {{ member.middle_in }}.</p>
                {% endfor%}
                <a href="">
                    <button>Score Sheet</button>
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}