{% extends "base_user.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
    Panelists
{% endblock %}
{% block button %}
<a href="/new_panel/">
    <button>Create New Panelist</button>
</a>
{% endblock %}
{% block content %}
    <div class='display_grid'>
        {% if panels %}
            {% for panel in panels %}
                <div class='card'>
					<div class='left'>
						<div class='panel_id'>
							{{ panel.id }}
						</div>
						<div class="pic_div">
							<img src="{{ url_for('static', filename ='img_avatar.png') }}" alt="..." width="65" class="panel_pic">
						</div>
						<div class="profile_info">
							<div class="panel_name center">{{ panel.first_name }} {{ panel.last_name }}</div>
							<div class="panel_user center">{{ panel.username }}</div>
							<div class="panel_school center">{{ panel.school }}</div>
						</div>

					</div>
					<div class='right'>
						<div class='title'>
							<h1>Defense Schedule</h1>
						</div>
						<div class='sched_container'>
							{% if panel.defenses %} 
								{% for defense in panel.defenses %}
									<div class='panel_sched'>
										<span class='project_title'>{{ defense.group.project_title }}</span>
										<span class='group_name'>{{ defense.group.name }}</span>
										<span class='date'>{{ defense.start_date.strftime('%B %d, %Y - %I:%M %p') }}</span>
									</div>
								{% endfor %}
							{% else %}
								NOTHING SCHEDULED
							{% endif %}
						</div>
						
				
					</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}