{% extends "base_user.html" %}
{% block title %}Home Page{% endblock %}
{% block navigation %}
    <li class="nav-item">
        <!-- bg-light shows the selected -->
        <a href="/user_home" class="nav-link text-dark font-italic">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a href="/user_groups/" class="nav-link text-dark font-italic">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>Groups
        </a>
    </li>
    <li class="nav-item">
        <a href="/user_panelists/" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Panelists
        </a>
    </li>
    <li class="nav-item">
        <a href="/user_students/" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Students
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class='display_grid'>
        {% if panels %}
            {% for panel in panels %}
                <div class='box'>
                    <p>ID: {{ panel.id }}</p>
                    <p>Name: {{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</p>
                    <p>School: {{ panel.school }}</p>
                    <p>Defenses:</p>
                    {% if panel.defenses %} 
                        {% for defense in panel.defenses %}
                            <p>    - {{ defense.group.name }} - {{ defense.start_date }}</p>
                        {% endfor %}
                    {% else %}
                        <p>NOTHING SCHEDULED</p>
                    {% endif %}
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    

    <script>
    </script>
{% endblock %}