{% extends "base_user.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
	Students
{% endblock %}
{% block content %}
<style>
	#student_ops {
		position: absolute;
		z-index: 2;
		top: 2px;
		right: -25px;
	}
</style>
<div class='student_grid'>
	{% if students %}
		{% for student in students %}
		<div class='student_card'>
			<div class='stud_info'>
				<div class="imageBox">
					<div class="imageInn">
						<img src="{{ url_for('static', filename='img_avatar.png') }}" alt="..." width="65" class="student_pic">
					</div>
				</div>
				<div class="pic_div">
					<a href="/edit_student/{{ student.stud_no }}">
					</a>
				</div>
				<div class='student_name'>
					<div class='lastname_div'>
						{{ student.last_name }}, 
					</div>
					<div class='firstname_div'>
						{{ student.first_name }} {{ student.middle_in }}
					</div>
				</div>
				<div class='student_no'>
					{{ student.stud_no }}
				</div>
			</div>
			<div class='group_info'>
				<h5>Group</h5>
				<div class='groupname_div'>
					{{ student.group.name }}
				</div>
			</div>
			
		</div>
			
		{% endfor %}
	{% endif %}
</div>
{% endblock %}