<body>
    <head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/new_style.css') }}">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <nav>
        <div class="top">
            <div class="pic_div">
                <img src="{{ url_for('static', filename ='img_avatar.png') }}" alt="..." width="65" class="profile_pic">
            </div>
            <div class="profile_info">
                <p class="username"><b>ADMIN</b></p>
                <p class="position">Admin</p>
            </div>
        </div>

        <div class="bottom">
            <a href="/home/" name='home' class="">Dashboard</a>
            <a href="/groups/" name='groups' class="">Groups</a>
            <a href="/panelist/" name='panelist' class="">Panelists</a>
            <a href="/student/" name='student' class="">Students</a>
            <a href="/schedule/" name='schedule' class="">Schedules</a>
            <a href="/gradesheets/" name='gradesheets' class="">Gradesheets</a>
            <a href="/rubrics/" name='rubrics' class="">Rubrics</a>
            <a href="/logout/" class="">Logout</a>
        </div>
    </nav>

    <main>
        <div class='top_bar'>
            <div class='page_title'>
                <h1>{% block pagename %}{% endblock %}</h1>
            </div>
            <div class='search_part'>
                <input type="text" name="search" placeholder="Search...">
            </div>
            <div class='create_button'>
                {% block button %}
                {% endblock %}
            </div>

        </div>
        
        {% block overlay %}
        {% endblock %}  

        <div class='content'>
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>