{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    <div id="overlay">
        <div id="text">
            <div id='close_button' onclick="off()">
                <a href='/panelist'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
            </div>

            <div>
                <p>Are you sure you?</p>
                <form method='POST'>
                    <button id='submit' name='submit' value='yes'>Yes</button>
                    <button id='submit' name='submit' values='no'>No</button>
                </form>
                
            </div>
        </div>
    </div>

    <div class='create_button'>
        <a href="/new_panel/">
            <button onclick="on(); createTable()" >Create New Panelist</button>
        </a>
    </div>

    <div class='display_grid'>
        {% if panels %}
            {% for panel in panels %}
                <div class='box'>
                    <p>ID: {{ panel.id }}</p>
                    <p>Name: {{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</p>
                    <p>School: {{ panel.school }}</p>
                    <p>Defenses:</p>
                    {% if panel.defenses %} 
                        {% for defense in panel.defenses %}
                            <p>    - {{ defense.group.name }} - {{ defense.start_date }}</p>
                        {% endfor %}
                    {% else %}
                        <p>NOTHING SCHEDULED</p>
                    {% endif %}
                    <br>
                    <a href="/edit_panel/{{panel.id}}">
                        <button>Edit</button>
                    </a>
                    <a href="/delete_panel/{{panel.id}}">
                        <button>Delete</button>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    

    <script>
    </script>
{% endblock %}