{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block navigation %}
    <li class="nav-item">
        <!-- bg-light shows the selected -->
        <a href="/home" class="nav-link text-dark font-italic">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a href="/groups/" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>Groups
        </a>
    </li>
    <li class="nav-item">
        <a href="/panelist/" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Panelists
        </a>
    </li>
    <li class="nav-item">
        <a href="/student/" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Students
        </a>
    </li>
    <li class="nav-item">
        <a href="/schedule/" class="nav-link text-dark font-italic">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Schedules
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-dark font-italic">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Gradesheets
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-dark font-italic">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Rubrics
        </a>
    </li>
    <style>
        table { width: 100%; }
        table, th, td { border: solid 1px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center;
        }
    </style>
    
{% endblock %}
{% block content %}
    <div id="overlay">
        <div id="text">
            
            <div id='close_button' onclick="off()">
                <a href='/groups'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
                
            </div>

            <div>
                <p>Editing Group</p>
                <form method="POST">
                    <label for="groupCode">Group Code:</label>
                    <input type='text' id='groupCode' name='groupCode' value ="{{ to_edit.id }}" disabled><br>
                    <label for="groupName">Group Name:</label>
                    <input type='text' id='groupName' name='groupName' value='{{ to_edit.name }}'><br>
                    <label for="projectTitle">Project Title:</label>
                    <input type='text' id='projectTitle' name='projectTitle' value='{{ to_edit.project_title }}'><br>
                    <label for="program">Program:</label>
                    <select name="program" id='program'>
                        <option value='BSIT-AGD' {% if to_edit.program == 'BSIT-AGD' %}selected {% endif %}>BSIT-AGD</option>
                        <option value='BSIT-DA' {% if to_edit.program == 'BSIT-DA' %}selected {% endif %}>BSIT-DA</option>
                        <option value='BSIT-SMBA' {% if to_edit.program == 'BSIT-SMBA' %}selected {% endif %}>BSIT-SMBA</option>
                        <option value='BSIT-WMA' {% if to_edit.program == 'BSIT-WMA' %}selected {% endif %}>BSIT-WMA</option>
                        <option value='BSCS' {% if to_edit.program == 'BSCS' %}selected {% endif %}>BSCS</option>
                        <option value='BMA' {% if to_edit.program == 'BMA' %}selected {% endif %}>BMA</option>
                    </select>
                    <br>
                    <button id='submit' name='submit'>Submit</button>
                </form>
            </div>
        </div>
    </div>


    <div class='create_button'>
        <button>Create New Group</button>
    </div>

    <div class='display_grid'>
        {% if groups %}
            {% for group in groups %}
                <div class='box'
                    <p>ID: {{group.id}}</p>
                    <p>Group Name: {{group.name}}</p>
                    <p>Project Title: {{group.project_title}}</p>
                    <p>Program: {{group.program}}</p>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}