{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <div class='create_button'>
        <a href="/new_sheet/">
            <button>Create New Gradesheet Template</button>
        </a>
    </div>

    <div class='display_grid'>
        {% if templates %}
            {% for template in templates %}
                <div class='box'>
                    <p>ID: {{ template.id }}</p>
                    <p>Gradesheet Type: {{ template.sheet_type }}</p>

                    <a href="/view_sheet/{{ template.id }}">
                        <button>View</button>
                    </a>

                    <a href="">
                        <button>Edit</button>
                    </a>
                    <a href="">
                        <button>Delete</button>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    
    

{% endblock %}