{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div id="overlay">
        <div id="text">
            
            <div id='close_button' onclick="off()">
                <a href='/panelist'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
                
            </div>

            <div>
                <form method='POST'>
                    <label for="userCode">User Code:</label>
                    <input type='text' id='userCode' name='userCode' value ="{{ current_id }}" disabled><br>

                    <label for="lastName">Last Name</label>
                    <input type='text' id='lastName' name='lastName'><br>

                    <label for="firstName">First Name</label>
                    <input type='text' id='firstName' name='firstName'><br>

                    <label for="middleIn">Middle Initial</label>
                    <input type='text' id='middleIn' name='middleIn'><br>

                    <label for="school">School:</label>
                    <select name="school" id='school'>
                        <option value='FEU Alabang'>FEU Alabang</option>
                        <option value='FEU Tech'>FEU Tech</option>
                        <option value='FEU Diliman'>FEU Diliman</option>
                    </select>
                    <br>

                    <button type='submit' id='submit' name='submit'>Submit</button>
                </form>
                
            </div>
        </div>
    </div>


    <div class='create_button'>
        <button>Create New Panelist</button>
    </div>

    <div class='display_grid'>
        {% if panels %}
            {% for panel in panels %}
                <div class='box'>
                    <p>ID: {{ panel.id }}</p>
                    <p>Name: {{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</p>
                    <p>School: {{ panel.school }}</p>
                    <br>
                </div>
                
            {% endfor %}
        {% endif %}
    </div>
    

    
    <script>
        var arrValues = new Array();
        var arrHead = new Array();
        var dict = {}
    </script>
{% endblock %}