{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block navigation %}
    <li class="nav-item">
        <!-- bg-light shows the selected -->
        <a href="/home" class="nav-link text-dark font-italic">
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a href="/groups/" class="nav-link text-dark font-italic">
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>Groups
        </a>
    </li>
    <li class="nav-item">
        <a href="/panelist/" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Panelists
        </a>
    </li>
    <li class="nav-item">
        <a href="/student/" class="nav-link text-dark font-italic">
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Students
        </a>
    </li>
    <li class="nav-item">
        <a href="/schedule/" class="nav-link text-dark font-italic bg-light">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Schedules
        </a>
    </li>
    <style>
        table { width: 100%; }
        table, th, td { border: solid 1px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center;
        }
    </style>
    
{% endblock %}
{% block content %}
    <div id="overlay">
        <div id="text">
            
            <div id='close_button' onclick="off()">
                <a href='/schedule'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
                
            </div>

            <div>
                <form method='POST'>
                    <label for="userCode">User Code:</label>
                    <input type='text' id='userCode' name='userCode' value ="{{ current_id }}" disabled><br>

                    <label for="group">Group</label>
                    <select name='group' id='group'>
                        {% if groups %}
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.id }} - {{ group.name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox1">Head Panelist</label>
                    <select name='selectBox1' id='selectBox1'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="option{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox2">Co-Panelist</label>
                    <select name='selectBox2' id='selectBox2'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="option{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox3">Co-Panelist</label>
                    <select name='selectBox3' id='selectBox3'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="option{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="defense_date">Defense Date:</label>
                    <input type="date" id="defense_date" name="defense_date" required>
                    <br>

                    <label for="start_time">Start Time:</label>
                    <input type="time" id="start_time" name="start_time" min="09:00" max="18:00" required>
                    <br>

                    <label for="end_time">Start Time:</label>
                    <input type="time" id="end_time" name="end_time" min="09:00" max="18:00" required>
                    <br>
                    <button type='submit' id='submit' name='submit'>Submit</button>
                </form>
                
            </div>
        </div>
    </div>


    <div style="padding:20px">
        <h2>Overlay with Text</h2>
        <button>Create New Panelist</button>
    </div>

    <!-- {% if panels %}
        {% for panel in panels %}
            <p>ID: {{ panel.id }}</p>
            <p>Name: {{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</p>
            <p>School: {{ panel.school }}</p>
            <br>
        {% endfor %}
    {% endif %} -->

    
    <script>
        var arrValues = new Array();
        var arrHead = new Array();
        var dict = {}

        $(document).ready(function(){
            $('select').on('change', function(event ) {
                var prevValue = $(this).data('previous');
            $('select').not(this).find('option[value="'+prevValue+'"]').show();    
                var value = $(this).val();
            $(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
            });
        });
    </script>
{% endblock %}