{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div id="overlay">
        <div id="text">
            
            <div id='close_button' onclick="off()">
                <a href='/schedule'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
                
            </div>

            <div>
                <p>Create New Schedule</p>
                <form method='POST'>
                    <label for="userCode">Defense Code:</label>
                    <input type='text' id='userCode' name='userCode' value ="{{ current_id }}" disabled><br>

                    <label for="group">Group</label>
                    <select name='group' id='group'>
                        {% if groups %}
                            {% for group in groups %}
                                <option value="group{{ group.id }}">{{ group.id }} - {{ group.name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox1">Head Panelist</label>
                    <select name='selectBox1' id='selectBox1'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox2">Co-Panelist</label>
                    <select name='selectBox2' id='selectBox2'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="selectBox3">Co-Panelist</label>
                    <select name='selectBox3' id='selectBox3'>
                        <option value='no_value'>-----------</option>
                        {% if panels %}
                            {% for panel in panels %}
                                <option value="{{ panel.id }}">{{ panel.id }} - {{ panel.last_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <br>

                    <label for="defense_date">Defense Date:</label>
                    <input type="date" id="defense_date" name="defense_date" required>
                    <br>

                    <label for="start_time">Start Time:</label>
                    <input type="time" id="start_time" name="start_time" min="09:00" max='' required>
                    <br>
                    
                    <label for="duration">Duration</label>
                    <select name='duration' id='duration'>
                        <option value='hour1'>1</option>
                        <option value='hour2'>2</option>
                        <option value='hour3'>3</option>
                    </select>
                    <br>
                    
                    <button type='submit' id='submit' name='submit'>Submit</button>
                </form>
                
            </div>
        </div>
    </div>


    <div class='create_button'>
        <button>Create New Defense Schedule</button>
    </div>

    <div class='display_grid'>
        {% if defenses %}
            {% for defense in defenses %}
                <div class='box'>
                    <p>ID: {{ defense.id }}</p>
                    <p>Group Name: {{ defense.group.name }} </p>
                    <p>Panels:</p>
                    {% for panel in defense.panels %}
                        <p>    - {{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</p>
                    {% endfor %}
                    <p>Defense Date: {{ defense.start_date}}</p>
                    <br>
                </div>
                
            {% endfor %}
        {% endif %}
    </div>
    

    
    <script>
        var arrValues = new Array();
        var arrHead = new Array();
        var dict = {}

        $(document).ready(function(){
            $('select').on('change', function(event ) {
                var prevValue = $(this).data('previous');
            $('select').not(this).find('option[value="'+prevValue+'"]').show();    
                var value = $(this).val();
            $(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
            });
        });
    </script>
{% endblock %}