{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
Students
{% endblock %}
{% block content %}
    <div id="overlay">
        <div id="text">
            
            <div id='close_button' onclick="off()">
                <a href='/student'>
                    <img src="{{ url_for('static', filename='close.png') }}">
                </a>
                
            </div>

            <div>
                <p>Edit Panel</p>
                <form method='POST'>
                    <label for="userCode">User Code:</label>
                    <input type='text' id='userCode' name='userCode' value ="{{ to_edit.stud_no }}" disabled><br>

                    <label for="lastName">Last Name</label>
                    <input type='text' id='lastName' name='lastName' value="{{ to_edit.last_name }}"><br>

                    <label for="firstName">First Name</label>
                    <input type='text' id='firstName' name='firstName' value="{{ to_edit.first_name }}"><br>

                    <label for="middleIn">Middle Initial</label>
                    <input type='text' id='middleIn' name='middleIn' value="{{ to_edit.middle_in }}"><br>

                    <label for="school">School:</label>
                    <select name="school" id='school'>
                        <option value='FEU Alabang' {% if to_edit.school == 'FEU Alabang' %}selected {% endif %}>FEU Alabang</option>
                        <option value='FEU Tech' {% if to_edit.school == 'FEU Tech' %}selected {% endif %}>FEU Tech</option>
                        <option value='FEU Diliman' {% if to_edit.school == 'FEU Diliman' %}selected {% endif %}>FEU Diliman</option>
                    </select>
                    <br>
                    <label for="groupID">Group ID:</label>
                    <input type='text' id='groupID' name='groupID' value="{{ to_edit.group_id }}"><br>
                    <button type='submit' id='submit' name='submit'>Submit</button>
                </form>
                
            </div>
        </div>
    </div>


    <div class='display_grid'>
        {% if students %}
            {% for student in students %}
                <div class='box'>
                    <p>ID: {{student.stud_no}}</p>
                    <p>Name: {{ student.last_name }}, {{ student.first_name }} {{ student.middle_in }}.</p>
                    <p>Group: {{ student.group_id }} - {{ student.group.name }}</p>
                    <a href="/edit_student/{{ student.stud_no }}">
                        <button>Edit</button>
                    </a>
                    <a href="/delete_student/{{ student.stud_no }}">
                        <button>Delete</button>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    

    
    <script>
    </script>
{% endblock %}