{% extends "students/student.html" %}
{% block overlay %}

    <div id="overlay">
        <div class='container'>
            <div class='header_div'>
                <div class='header_title'>
                    <p class = "header_white">Edit Student</p>
                </div>
                <div class='close_button'>
                    <a href='/student/'>
                        <img src="{{ url_for('static', filename='close.png') }}">
                    </a>
                </div>
            </div>

            <div class='content_div'>
                <form method='POST'>
                    <div class='form_div'>
						<table class = "tableL">
							<div class='query'>
								<th>
									<label for="userCode">Student No.:</label>
								</th>
								<th class = "no_border">
									<span>
										<input type='text' id='userCode' name='userCode' value ="{{ to_edit.stud_no }}">
									</span>
								</th>
							</div>
							<tr>
							<div class='query'>
								<th>
									<label for="lastName">Last Name</label>
								</th>
								<th class = "no_border">
									<span>
										<input type='text' id='lastName' name='lastName' value="{{ to_edit.last_name }}">
									</span>
								</th>
							</div>
							<tr>
							<div class='query'>
								<th>
									<label for="firstName">First Name</label>
								</th>
								<th class = "no_border">
									<span>
										<input class ="dropdown_fill" type='text' id='firstName' name='firstName' value="{{ to_edit.first_name }}">
									</span>
								</th>
							</div>
							<tr>		
							<div class='query'>
								<th>
									<label for="middleIn">Middle Initial</label>
								</th>
								<th class = "no_border">
									<span>
										<input class ="dropdown_fill" type='text' id='middleIn' name='middleIn' value="{{ to_edit.middle_in }}">
									</span>
								</th>
							</div>
							<tr>
							<tr>		
							<div class='query'>
								<th>
									<label for="group">Group:</label>
								</th>
								<th class = "no_border">
									<select class='dropdown_fill' name='group' id='group'>
										{% for group in groups %}
											<option value='{{ group.id }}' {% if to_edit.group_id == group.id %}selected{% endif %}>{{ group.id }} - {{ group.name }}</option>
										{% endfor %}
									</select>
								</th>
							</div>
							<tr>
							<th colspan = "2">
								<button class = "but2" type='submit' id='submit' name='submit'>Submit</button>
							</th>
						</table>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}