{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}

Students

{% endblock %}
{% block content %}
	<head>
        <link rel='stylesheet' href="{{ url_for('static', filename ='admin/indiv_sheet.css') }}">
	</head>
    <div class='display_grid'>
        {% if students %}
            {% for student in students %}
                <div class='div1'>
					<table>
						<th class = "tb_desc">ID:</th>
						<td>{{ student.stud_no }}</td>
						<tr>
						<th class = "tb_desc">Name:</th> 
						<td>{{ student.last_name }}, {{ student.first_name }} {{ student.middle_in }}.</td>
						<tr>
						<th class = "tb_desc">Group:</th> 
						<td>{{ student.group_id }} - {{ student.group.name }}</td>
						<tr>
					</table>
					<table>
						<th>
							<a href="/edit_student/{{ student.stud_no }}">
								<button class = "but2">Edit</button>
							</a>
						</th>
						<th>
							<a href="/delete_student/{{ student.stud_no }}">
								<button class = "but2">Delete</button>
							</a>
						</th>
						<tr>
					</table>
					<br>
                </div>
                
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}