{% extends "admin.html" %}
{% block title %}Home Page{% endblock %}
{% block pagename %}
    Defense Schedules
{% endblock %}
{% block button %}
<a href="/new_sched/">
    <button>Create New Defense Schedule</button>
</a>
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').on('change', function(event ) {
                var prevValue = $(this).data('previous');
            $('select').not(this).find('option[value="'+prevValue+'"]').show();    
                var value = $(this).val();
            $(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
            });
        });

		$(document).ready(function(){
            $('select').on('click', function(event ) {
                var prevValue = $(this).data('previous');
            $('select').not(this).find('option[value="'+prevValue+'"]').show();    
                var value = $(this).val();
            $(this).data('previous',value); $('select').not(this).find('option[value="'+value+'"]').hide();
            });
        });
    </script>
    <div class='display_grid'>
        {% if defenses %}
            {% for defense in defenses %}
                <div class='div1'>
					<table class = "">
						<th>
							ID:
						</th>
						<td colspan = "3"> 
							{{ defense.id }}
						</td>
						<tr>
						<th>
							Group Name:
						</th>
						<td colspan = "3"> 
							{{ defense.group.name }} 
						</td>
						</tr>
						<tr>
							<th colspan = "4">Panels:</th>
						</tr>
						<tr>
							{% for panel in defense.panels %}
								{% if panel.id == defense.head_panel_id: %}
									<th class = "no_border"> Head Panelist </th>
									<td colspan = "3">{{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}. </td><tr>
								{% else: %}
									<th class = "no_border"> Co-Panelist </th>
									<td colspan = "3">{{ panel.last_name }}, {{ panel.first_name }} {{ panel.middle_in }}.</td><tr>
								{% endif %}
							{% endfor %}
						<th>Defense Date:</th>
						<td colspan = "3"> {{ defense.start_date}} </td>
						<tr>
							<th colspan = "4">Gradesheet:</th>
						</tr>
						<tr>
							<th colspan = "2">Individual:</th>
							<th colspan = "2">Group:</th>
						</tr>
						<tr>
							<td colspan = "2">Gradesheet ID: {{ defense.i_sheet_id }}</td>
							<td colspan = "2">Gradesheet ID: {{ defense.g_sheet_id }}</td>
						</tr>
						<tr>
							<td>
								<a href="/assign_sheet/Individual/{{ defense.id }}">
									<button>Assign Individual Gradesheet</button>
								</a>
							</td>
							<td>
								<a href="/view_sheet/{{ defense.i_sheet_id }}/sched">
									<button {% if not defense.i_sheet_id %}disabled{% endif %}>View Individual Gradesheet</button>
								</a>
							</td>
							<td>
								<a href="/assign_sheet/Group/{{ defense.id }}">
									<button>Assign Group Gradesheet</button>
								</a>
							</td>
							<td>
								<a href="/view_sheet/{{ defense.g_sheet_id }}/sched">
									<button {% if not defense.g_sheet_id %}disabled{% endif %}>View Group Gradesheet</button>
								</a>
							</td>
						</tr>
						<tr>
					</table>
					<table class = "tableButton no_border">
						<th class = "no_border sep_10">
							<a href="/edit_sched/{{ defense.id }}">
								<button class = "but2" >Edit</button>
							</a>
						</th>
						<th class = "no_border sep_10">
							<a href="/delete_sched/{{ defense.id }}">
								<button class = "but2" >Delete</button>
							</a>
						</th>
					</table>
					<br>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}